{% extends 'gestion/base.html' %}

{% block contenido %}
  <h2>Historia Clínica de {{ paciente.first_name }} {{ paciente.last_name }}</h2>

  {% if informes %}
    <ul>
      {% for informe in informes %}
        <li>
          <strong>Fecha:</strong> {{ informe.fecha }}<br>
          <strong>Médico:</strong> {{ informe.medico.first_name }} {{ informe.medico.last_name }}<br>
          <strong>Descripción:</strong><br>
          <p>{{ informe.descripcion }}</p>
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay informes disponibles para este paciente.</p>
  {% endif %}
{% endblock %}
